html,
body {
  height: 100%;
  width: 100%;
}

.winner {
  color: green;
}

.content {
  margin-top: 5em;
  width: 100%;
  text-align: center;
}

.stats {
  margin: 2em;
}

#word {
  font-size: 2em;
}
.statParagraph {
  margin: 1em;
}

.fail {
  color: red;
}

header {
  text-align: center;
}

#pika {
  padding-top: 1em;
  height: 75px;
}

.infoBar {
  width: 50%;
  margin: 0 auto;
}
